! Accent colours
#define S_yellow	rgb:b5/89/00
#define S_orange	rgb:cb/4b/16
#define S_red		rgb:dc/32/2f
#define S_magenta	rgb:d3/36/82
#define S_violet	rgb:6c/71/c4
#define S_blue		rgb:26/8b/d2
#define S_cyan		rgb:2a/a1/98
#define S_green		rgb:85/99/00
! Dark
#define S_base03 	rgb:00/2b/36
#define S_base02 	rgb:07/36/42
#define S_base01 	rgb:58/6e/75
#define S_base00 	rgb:65/7b/83
#define S_base0 	rgb:83/94/96
#define S_base1 	rgb:93/a1/a1
#define S_base2 	rgb:ee/e8/d5
#define S_base3 	rgb:fd/f6/e3

*background:		S_base03
*foreground:		S_base0
*fading: 		40
*fadeColor:		S_base03

*cursorColor:		S_base1
*cursorBlink:		false

*pointerColorBackground:	S_base01
*pointerColorForeground:	S_base1

*color0:	S_base02
*color1:	S_red
*color2:	S_green
*color3:	S_yellow
*color4:	S_blue
*color5:	S_magenta
*color6:	S_cyan
*color7:	S_base2
*color9:	S_orange
*color8:	S_base03
*color10:	S_base01
*color11:	S_base00
*color12:	S_base0
*color13:	S_violet
*color14:	S_base1
*color15:	S_base3
